<p>museos works!</p>

<p>MUSEO REGIONAL MORTEROS:
  Ocupa la manzana delimitada por las calles Sarmiento, Dorrego, General Paz y Riobamba y fue inaugurado el 17 de agosto de 1974, durante la intendencia del Dr. Alfredo J. Bría.
  La originalidad de este museo la constituye su edificio, concebido como un hexágono, con una “sala cúpula” en cada uno de sus vértices, interconectadas por pasillos con techos abovedados.
  Surgió como Museo Histórico pero actualmente abarca las áreas de arqueología, antropología, paleontología, historia, ciencias naturales y artes visuales. Lo complementan un jardín botánico, un espacio de exposición estática de carruajes y máquinas agrícolas antiguas, al aire libre.
  En la sala de Historia se conservan piezas rescatadas en el lugar en que estuvo el Fuerte Los Morteros, así como piezas, utensilios y fotografías de los inmigrantes colonizadores de la región. La sala de Ciencias naturales se centra en información y animales (conservados por taxidermia) procedentes del ecosistema Mar Chiquita, mientras que la correspondiente a Artes visuales reúne obras de arte de autores argentinos, en su mayoría cordobeses y preferentemente morterenses.
  En su ingreso se encuentra un busto de Mariano Alvarado, hecho en cemento sobre pedestal de ladrillos, confeccionado y donado al Municipio por el artista local Néstor Fabián Maldonado.
  </p>
