h5{
  display: flex;
  justify-content: center;
  color:#757575;
  font-size:18px;
  margin-top: 50px;
}

p{
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 250px;
  margin-right: 250px;
  color:#757575;
  font-size: 16px;
  text-align: justify;
}

img{
  display: flex;
  justify-content: center;
  margin: auto;
}
