<app-carousel></app-carousel>
<h1>MORTEROS</h1>
<section class="home-styles">
<h3>Nuestros valores se basan en la conservación y protección de los recursos naturales y en la puesta en valor de los recursos culturales. Nuestros objetivos son:</h3>
<img src="assets/img/corzuelaParda.png" alt=""  height="250" hspace="5" vspace="5"
style="float: right;">
<ul>
  <li>Promover la actividad turística en Morteros y la región</li>
  <li>Impulsar el desarrollo y preservación del patrimonio natural y cultural de las comunidades</li>
  <li>Colaborar con el fortalecimiento de las economías locales y regionales, incentivando a que la comunidad disfrute de su tiempo libre bajo la premisa de un “turismo sustentable y sostenible”. </li>
</ul>
</section>

<div class="contenedor-imagenes">
  <a  routerLink="alojamientos" href="">
    <img  src="assets/img/bed.png" alt="" height="150">Dónde dormir</a>
  <a  routerLink="gastronomia" href="">
    <img src="assets/img/dish.png" alt="" height="150">Dónde comer</a>
  <a  routerLink="atractivos" href="">
    <img src="assets/img/destination.png" alt="" height="150">Qué visitar</a>
    <a  routerLink="agencias" href="">
      <img src="assets/img/travelAgency.png" alt="" height="150">Agencias</a>
  <a  routerLink="actividades" href="">
    <img src="assets/img/tourist.png" alt="" height="150">Qué hacer</a>
    </div>


<h2 class="subtitle">NUESTRO PUEBLO</h2>
<p>Los primeros habitantes de la zona de Morteros fueron los sanavirones, pueblo no belicoso y poco numeroso. Más al norte (en la actual Provincia de Santa Fe) vivían los abipones, pertenecientes al grupo Guaycurú, junto a los mocovíes, tobas y pillagás. Los abipones asolaban esta región con sus malones.</p>
<p>Debido a los continuos ataques de los nativos y con la finalidad de resguardar los caminos de Córdoba, Santa Fe y Buenos Aires, se propuso la construcción de una línea de fuertes y así, hacia fines del siglo XVIII ya existían el Fuerte de San Carlos del Tío en la provincia de Córdoba y, en la de Santa Fe, los baluartes defensivos de Sunchales, San Nicolás de la Pelada, San Juan Nepomuceno de Calchines, Nuestra Señora de la Soledad o Arredondo, Almagro en Coronda y Esquina Grande.</p>
<p>Después de ocho años de proyectos y varios intentos para fortificar y poblar el punto conocido como “de los Morteros” que no se concretaron, el 20 de febrero de 1862 el gobernador Wenceslao Paunero dictó un decreto por el cual se ordenó ocupar, a la brevedad posible, este lugar y hacer los cuarteles y fortificaciones necesarios. Los trabajos de construcción se llevaron a cabo rápidamente y en julio de ese año el <strong>Fuerte Los Morteros </strong> ya estaba ocupado por un destacamento de 100 hombres. Este Fuerte es el primer antecedente de población blanca en la actual ciudad de Morteros.</p>
<p>Años después, pacificada la región, las tierras comenzaron a venderse a particulares y, como consecuencia de las leyes que propiciaban la inmigración y la colonización y de la expansión ferroviaria hacia el interior, fueron surgiendo colonias agrícolas. Entre ellas, Colonia San Pedro (aprobada el 6 de junio de 1888), Isleta (29 de marzo de 1889), Dos Hermanos (6 de mayo de 1890), Maunier (1890), 10 de Julio (3 de noviembre de 1891) y, finalmente, el 21 de agosto de 1894, Colonia Morteros.</p>
<div class="bg-img"></div>
<p>En 1889 comenzó la construcción del ramal Gálvez-Los Morteros del ferrocarril Central Argentino y el 14 de febrero de 1891 llegó el primer tren a la Estación Morteros.</p>
<p>Por esos días, <strong>Mariano Alvarado</strong>, propietario de los terrenos situados al este de las vías del ferrocarril, trazó una villa y solicitó su aprobación al Poder Ejecutivo provincial. El Gobernador Eleazar Garzón firmó, el 12 de agosto de 1891, el Decreto N° 172, por el cual aprobó la delineación presentada y determinó la creación de la villa <strong>Pueblo Morteros</strong>.</p>
<p>Por otra parte, un grupo de vecinos de Colonia Isleta, situada al oeste de las vías férreas, solicitó permiso para instalar la institución municipal. El Gobernador accedió, fijó los límites del Municipio y el 9 de agosto de 1891 se llevaron a cabo los comicios, siendo elegido Intendente <strong>Pablo In’Aebnit</strong> .</p>
<p>Poco a poco, el pueblo se fue consolidando. Llegaron inmigrantes, en su mayoría italianos, quienes fundaron la Sociedad Italiana de Socorros Mutuos Unión y Beneficencia (primera institución de Morteros). Del mismo modo, fueron surgiendo industrias y comercios, se crearon escuelas, se radicaron entidades bancarias, se constituyeron entidades deportivas, culturales, sociales, gremiales, cooperativas y Morteros fue creciendo.</p>
<div class="bg-img"></div>
<p>De a poco también, Morteros fue teniendo obras de infraestructura básica que mejoraron la calidad de vida de la población: en 1957 comenzó la pavimentación de las calles; en 1994 se inauguró la primera etapa de los desagües cloacales y en 2004 se inauguró el servicio de agua potable.</p>
<p>Desde el punto de vista institucional, tres hechos de particular relevancia son dignos de mención:
  El 5 de agosto de 1965 Morteros fue elevada a la categoría de ciudad, por Decreto del Gobernador Justo Páez Molina.
  El 31 de octubre de 1995 se sancionó la Carta Orgánica Municipal, para regular el funcionamiento del Municipio y la vida de los habitantes.
  El 4 de marzo de 2006, Morteros se hermanó con Caselle Torinese, localidad italiana de la Provincia de Torino, Región de Piemonte.</p>

  <p>FUENTES:
    Temas de la vida de Morteros en sus 100 años. Ed. Suarez, Córdoba, 1991.
    Fuerte Los Morteros. Col.Senderos, tomo I. Ed.Brujas, Córdoba, 2006.
    Y vinieron… Inmigración italiana en Morteros. Col.Senderos, tomo II. Ed.Brujas, Córdoba, 2013.
    Morterito y sus amigos cuentan... la historia de Morteros. Col.Senderos, tomo III. Ed.Brujas, Córdoba, 2017.
    (todas publicaciones del Centro Municipal de Estudios e Investigaciones Históricos de Morteros).</p>
