h1{
  margin-top: 100px;
  color:#757575;
}
h2{
  margin-top: 60px;
  margin-left: 200px;
  margin-right: 200px;
  color:#757575;
  font-size:20px;
}
h3{
  margin-top: 60px;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 60px;
  color:#757575;
  font-size:16px;
}
ul{
  margin-top: 30px;
  margin-left: 250px;
  margin-right: 250px;
  color:#757575;
  font-size: 16px;
}


.subtitle{
  display: flex;
justify-content: center;
}
p{
  margin-top: 30px;
  margin-left: 250px;
  margin-right: 250px;
  color:#757575;
  font-size: 16px;
  text-align: justify;
}
.home-styles{

  margin-right: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.home-styles ul{
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 20px;
}
.bg-img{
  background-image: url(https://morteros.gob.ar/sites/default/files/imagen_destacada_home/aerea.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 15rem;
}

div a{
  text-decoration: none;
  color: #757575;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div img{
  padding: 20px;
  transition: all 1s;
}

div img:hover{
  transform: scale(1.1);
}


.contenedor-imagenes {
  display: flex;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 200px;
  margin-right: 200px;
  justify-content:space-evenly;
}

.contenedor-imagenes img:first-child {
  margin-right: 10px;
}
