h1{
  margin-top: 50px;
  color:#757575;
}
h3{
  margin-top: 60px;
  margin-left: 200px;
  margin-right: 200px;
  color:#757575;
}
ul{
  margin-top: 30px;
  margin-left: 250px;
  margin-right: 250px;
  color:#757575;
  font-size: 18px;
}

.subtitle{
  display: flex;
justify-content: center;
}
p{
  margin-top: 30px;
  margin-left: 250px;
  margin-right: 250px;
  color:#757575;
  font-size: 18px;
}

.bg-img{
  background-image: url(https://morteros.gob.ar/sites/default/files/imagen_destacada_home/aerea.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 15rem;
}
