<footer>
  <img src="" alt="logo">
  <div>
    <h3>Encontranos en</h3>
    <ul>
        <li>
            <a href="https://www.instagram.com/direcciondeturismomorteros" target="_blank"><img
                    src="" alt="instagram-icon">Instagram</a>
        </li>
        <li>
          <a href="https://www.facebook.com/profile.php?id=100049130270738" target="_blank"><img
                  src="" alt="facebook-icon">Facebook</a>
      </li>
    </ul>
</div>
<div>
  <h3>Nuestra oficina</h3>
  <ul>
    <li>Sarmiento Esq. Dorrego</li>
    <li>Horario y días de atención: De lunes a viernes de 09 a 12hs</li>
    <li>Tel: +54 9 356 244-1020</li>
    <li>dirturismomoteros@gmail.com</li>
  </ul>
</div>
</footer>
