.card {
  box-shadow: 2px 4px 10px gray;
  cursor: pointer;
  transition: all 0.50s;

}

.cards-container {
  background-color: #f5f5f5;
}

.card:hover {
  transform: scale(1.05)
}

h1 {
  font-size: 3rem;
}
