
.wrap {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/assets/img/aerea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.efecto{
  padding: 2rem 3rem;
  text-align: center;
  color: #fff;
  box-shadow: 0px 0px 25px #222;
  backdrop-filter: blur(10px);
}


.text-wrap h1{
  color: white;
}

@media(max-width: 768px) {
  .text-wrap h1{
    font-size: 3rem
  }
  .wrap {
    height: 50vh;
  }
}
