.card {
  box-shadow: 2px 4px 10px gray;
  cursor: pointer;
  transition: all 0.50s;

}

.cards-container {
  background-color: #f5f5f5;
}

.card:hover {
  transform: scale(1.05)
}

h2 {
  margin-top: 100px;
  color:#757575;
  display: flex;
  justify-content: center;
}

.card-body{
  color: #757575;
}

.card-text{
  font-size: 14px;
}

