<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home" href="#">
      <img src="assets/img/logoMuni.png" alt="" height="30">
    </a>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link "routerLink="alojamientos">Alojamientos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gastronomia">Gastronomía</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="agencias">Agencias de Viajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="atractivos">Atractivos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="actividades">Actividades en Ansenuza</a>
        </li>
      </ul>
    </div>
    <a class="navbar-nav nav-item nav-link"routerLink="auth" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
      </svg>
    </a>
  </div>
</nav>
<router-outlet></router-outlet>

