<app-portada></app-portada>
<div class="cards">
<div class="container-fluid text-center justify-content-center">
  <div class="row">
    <div class="col-sm-4 d-flex justify-content-center my-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">PLAZAS</h5>
          <a routerLink="plazas" href="#" ><img  src="assets/img/plaza.png" alt="" height="80"></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex justify-content-center my-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">MONUMENTOS</h5>
          <a routerLink="monumentos" href="#" ><img  src="assets/img/monumento.png" alt="" height="80"></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex justify-content-center my-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">IGLESIAS</h5>
          <a routerLink="iglesias" href="#"><img  src="assets/img/iglesia.png" alt="" height="80"></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex justify-content-center my-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">RINCONES</h5>
          <a routerLink="rincones" href="#"><img  src="assets/img/rincon.png" alt="" height="80"></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex justify-content-center my-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">PARQUES</h5>
          <a routerLink="parques" href="#"><img  src="assets/img/parque.png" alt="" height="80"></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex justify-content-center my-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">MUSEOS</h5>
          <a routerLink="museos" href="#"><img  src="assets/img/museo.png" alt="" height="80"></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
