<p>parques works!</p>

<p>ECOPARQUE
  ¿Qué visitar?
  ECOPARQUE
  Nos propusimos reforestar con un objetivo conservacionista y educativo, anexando juegos construidos con materiales reciclados.
  Te invitamos a que actives todos tus sentidos, disfrutar del canto de las aves, observar la flora y pasar un momento agradable; pero lo más importante, la basura que generes, deposítala en los cestos.
  Podes realizar un recorrido donde encontraras más de 14 especies de flora autóctona, algunas de ellas son:

  Ñandubay:

  Altura: 10 a 10 m

  Hábitat: bosque chaqueño.

  Flores: espigas amarillas, de octubre a enero
  Frutos: vaina amarillenta, de enero a marzo

  Timbó
  Es un árbol caducifolio que llega a medir hasta 30 metros de altura. Es nativo del sur de Brasil, este de Bolivia, Paraguay, Uruguay y Argentina, donde se lo encuentra en las yungas, selvas paranaenses y selvas.

  Chañar:

  Es un árbol o arbusto caduco, que puede llegar a medir 7 metros de altura, con ramillas que en general terminan en una aguda espina. Las ramas de estos árboles medicinales adultos tienen espinas de 2 hasta 4 centímetros de largo. El tronco de esta planta medicinal es recato, y con características exfoliaciones en su corteza que se desprenden.

  Algarrobo blanco
  Árbol mediano de 4–17 m de alto, tronco de 6–9 dm de diámetro, latifoliado, fuertemente espinoso. Ramas arqueadas hacia abajo, flexuosas, corteza verde grisácea, flores en racimos

  Ombú
  Es un árbol que simboliza a la pampa. Es voz de origen guaraní: umbú que significa sombra o bulto oscuro. Crece muy bien en la llanura pampeana. El ombú es originario de Argentina, y ningún otro árbol tiene tanto derecho al nombre de "árbol gaucho" como el ombú.Alcanza una altura de 10 a 15 m, con una amplia copa y grandes raíces visibles

  Jacarandá

  El árbol adulto alcanza una altura de 12 a 15 metros, hasta 20 metros Las flores, de 4 a 5 cm, están agrupadas en panículas terminales erectas, de 20 a 30 cm y son de color azul violeta.

  Aromito
  Árbol nativo argentino que puede llegar a los 6 metros de altura. Es una especie de hoja caduca y muy atractivo por sus flores que son como pompones amarillos muy perfumados. Florece a fines de invierno y principios de la primavera. Planta nutricia de la mariposa "Danzarina" (Riodina lysippoides) y Frotadora menor sangrante (Ministrymon sanguinalis).</p>


  <p>Parque Mariano Alvarado <img src="assets/img/parqueMalvarado.jpg" alt=""></p>
