<h5><strong>BIBLIOTECA POPULAR “CULTURA Y PROGRESO”</strong></h5>


<p>
La Biblioteca Popular Cultura y Progreso es una entidad señera en Morteros. La constituyeron un grupo de morterenses el 11 de junio de 1923 y el 22 de agosto siguiente se realizó el acto de inauguración oficial. Estaba instalada en un local de Bv. 25 de Mayo (donde ahora se encuentra el Banco de la Nación Argentina). En setiembre de 1942 se trasladó a una vivienda de dos pisos en Bv. 25 de Mayo 134 y en junio de 1978 debió trasladarse a un edificio sito en Bv. 9 de Julio 968, adquirido por la Municipalidad y cedido en comodato por 99 años.
La sede actual, ubicada en terrenos del ferrocarril, con ingreso por calle Mariano Moreno, fue diseñada por los arq. Mario Amabili y Javier Mazzuca y fue pensada para generar la interrelación entre el usuario y el exterior, manteniendo los espacios de privacidad que requieren la lectura y el estudio.
La idea fue levantar volúmenes independientes, de líneas simples y lenguaje similar, que contengan diferentes actividades, respetando lo existente. Para ello, se restauró la antigua vivienda de guardabarreras existente, de arquitectura inglesa típica, y se la comunicó con el cuerpo principal, totalmente nuevo, mediante un corredor que vincula las distintas áreas. Los volúmenes conectores son vidriados para mantener su transparencia y no cortar las visuales que hacen posible la relación con el exterior.
En un extremo del complejo se encuentra un auditorio. En el otro, un juego de terrazas permite transformarse en anfiteatro y una fuente de piedras con un hilo de agua termina de conformar el ámbito. Una rampa de generosas dimensiones rodea al volumen principal (sala de lectura) y conduce a la terraza (techo del auditorio) desde donde se puede contemplar el parque y el predio del lago de la ciudad.</p>


<h5><strong>MURAL DEL CENTENARIO</strong></h5>
<p>
Ubicado en la Plazoleta de los Inmigrantes, sobre Bv. Arturo Frondizi, acceso sur de la ciudad.
Fue diseñado por el artista plástico Guillermo Hoyos, quien llevó a cabo la dirección de la obra. Posee forma parabólica de 10 metros de largo y cuatro de alto. Representa, en mosaicos venecianos, la evolución de Morteros desde las máquinas de vapor utilizadas por los colonos hasta la industria y la cibernética del siglo XX. Las figuras centrales corresponden a los inmigrantes.
Fue inaugurado en ocasión del centenario de la ciudad, el 11 de agosto de 1991.</p>

<h5><strong>ANTIGUA ESTACIÓN DEL FERROCARRIL</strong></h5>
<p>
El primer tren llegó a Morteros el 14 de febrero de 1891. Era la última estación del ramal Galvez-Morteros del entonces Ferrocarril Buenos Aires y Rosario (después Ferrocarril General Bartolomé Mitre).
El edificio original de la Estación se incendió en 1936; según algunas fotografías halladas, era de dos pisos (no se encontraron los planos originales). Al año siguiente se reconstruyó y en 1957 se proyectó el actual, que sufrió modificaciones hacia 2013.
El inmueble incluía las dependencias propias al funcionamiento ferroviario, tanto públicas (sala de espera y venta de pasajes, sala de espera para señoras, baños) como privadas (boletería, oficina de cargas y encomiendas, oficina de telégrafo, despacho del Jefe, archivo) y la casa-habitación para el Jefe de Estación (3 dormitorios, comedor, cocina, baño y patio). Había también un galpón de maquinarias, dos galpones de depósito de mercaderías (normalmente bolsas de cereales) y una Mesa giratoria de vías.
Al dejar de funcionar la línea, el edificio fue cedido en comodato a la Municipalidad. En la actualidad es la sede de la Secretaría de Educación.</p>
